.gradient-background {
    background: linear-gradient(300deg, #FF9800, #2C7865, #90D26D, #D9EDBF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    margin-bottom: 20px;
  }

  .black {
    background: linear-gradient(300deg, #222831, #31363F, #35374B, #50727B, #78A083);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }

  .featurette {
    display: flex;
    margin-bottom: 20px;
  }

  .featurette-heading {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #FF9800;
  }

  .lead {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #D9EDBF;
    }

    .img {
        display: flex;
        justify-content: center;
        align-content: center;
        border-color: #FF9800;
    }

    p {
        font-weight: bolder;
    }
  
    .white {
        color: white;
    }

    .nav-link {
        color: white;
    }

    h2 {
        font-weight: bolder;
    }

    h5, h6 {
       color:  white;
    }

    .mb-4 {
        color: white;
    }

    .white-1 {
    color: white;
    }
    hr {
        color: white;
    }